.lista-ordenacao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-top: 56px;
    margin-bottom: 32px;
}

.lista-ordenacao__link {
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    color: var(--cinza-medio);
    text-decoration: none;
}

.lista-ordenacao__link--ativo {
    color: var(--verde-destaque);
    text-decoration: underline;
    font-weight: 600;
}